*{
    box-sizing: border-box;
}
h1{
    font-size: 36px;
    font-family: 'Righteous', cursive;
    color: #FFFFFF;
    margin: 30px 0 40px 0;
}
ion-icon{
    width: 23px;
    height: 23px;
}
.startscreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #FB6B6B;
}
.startscreen img{
 width: 136px;
 height: 161px;
}
.startscreen button{
    width: 246px;
    height: 54px;
    filter: drop-shadow(0 10px 10px RGBA(0,0,0,0.2));
    border-radius: 5px;
    background-color: #FFFFFF;
    border: 1px solid #D70900;
    font-family: 'Courier New';
    font-size: 18px;
    color: #D70900;
}
.mainscreen{
    overflow: scroll;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: #FB6B6B;
}
.toplogo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    width: 256px;
    margin: 40px 0 50px 0;
}
.toplogo img{
    width: 52px;
    height: 60px;
}
.boxquestion{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 65px;
    margin-bottom: 25px;
    padding: 0 15px 0 15px;
    border-radius: 5px;
    background-color: #FFFFFF;
}
.boxquestion p{
    font-family:sans-serif;
    font-weight: bold;
    font-size: 16px;
}
.boxquestionopen {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    width: 300px;
    height: 130px;
    margin-bottom: 25px;
    padding: 20px 15px 5px 15px;
    border-radius: 5px;
    background-color: #ffffd4;
}
.boxquestionopen p{
    font-family: 'Courier New';
    font-size: 18px;
}
.boxquestionopen img{
    position: absolute;
    width: 30px;
    height: 20px;
    bottom: 6px;
    right: 10px;
}
.answeroptions{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.answeroptions button{
    width: 85px;
    height: 37px;
    border: none;
    border-radius: 5px;
    font-family: 'Courier New';
    font-size: 12px;
    color: #FFFFFF;
}
.zap{
    background-color: #2fbe34;
}
.naolembro{
    background-color: #FF3030;
}
.quase{
    background-color: #ff922e;
}
ion-icon[name=close-circle]{
    color: #FF3030;
}
ion-icon[name=help-circle]{
    color: #ff922e;
}
ion-icon[name=checkmark-circle]{
    color: #2fbe34;
}
.naolembrop{
    text-decoration: line-through;
    color: #FF3030;
}
.quasep{
    text-decoration: line-through;
    color: #ff922e;
}
.zapp{
    text-decoration: line-through;
    color: #2fbe34;
}