.startscreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #FB6B6B;
}
.startscreen img{
 width: 136px;
 height: 161px;
}
.startscreen button{
    width: 246px;
    height: 54px;
    margin: 20px 0 0 0;
    filter: drop-shadow(0 10px 10px RGBA(0,0,0,0.2));
    border-radius: 5px;
    background-color: #FFFFFF;
    border: 1px solid #D70900;
    font-family: 'Courier New';
    font-size: 18px;
    color: #D70900;
}
.startscreen input{
    height: 43px;
    width: 246px;
    text-align: center;
    font-family: 'Courier New';
    font-size: 12px;
}